<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cloudimage_responsive>
            <options>
                <do_not_replace_url>1</do_not_replace_url>
                <lazy_loading>1</lazy_loading>
            </options>
        </cloudimage_responsive>
    </default>
</config>
