<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <scaleflex_cloudimage>
            <options>
                <do_not_replace_url>1</do_not_replace_url>
                <lazy_loading>1</lazy_loading>
            </options>
            <advanced>
                <image_quality>90</image_quality>
                <ignore_svg>0</ignore_svg>
                <fortorama_compatibility>1</fortorama_compatibility>
                <devicepixelratio>2</devicepixelratio>
                <orgifsml>1</orgifsml>
                <remove_v7>1</remove_v7>
            </advanced>
        </scaleflex_cloudimage>
    </default>
</config>
